.box{
    display: flex;
    flex-direction: column;
    justify-content: center;align-items: center;
}

.chooseScreen{
    padding-top: 3rem;
    display: flex;
    width:100%;
    justify-content: space-evenly;align-items: center;
}

.option{
    display: flex;
    justify-content: center;align-items: center;
    flex-direction: column;
}


.circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color:transparent;
}

.text{
    color: white;
    font-size: 1.2rem;
    letter-spacing: 0.2px;
}

.result{
    color:white;
    font-size: 2rem;
}